
* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
 } 
.menu-container{
    width: 100%;
    height: 100%;
    position: relative;
}
.menu-bg{
  width: 100%;
  position: fixed;
  z-index: -1;
}
.menu-container span{
  opacity: 50%;
  display: block;
  width: 100%;
  height: 15rem;
}
.menu-sec{
  background-color:  #040D12;
  width: 100%;
  height: 75%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: scroll;
}
.menu-container h1{
  color: aliceblue;
  width: 100%;
  padding-top: 8rem;
  text-align: center;
}
.card-list{
  padding: 2rem;
  gap: 1rem;
  background-color: rgb(182, 181, 181);
  display: flex;
  flex-direction: row;
}

.card{
  overflow: hidden;
  border-radius: 5px;
  min-width: 12rem;
  height: 12rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.card-img{
  width: 12rem;
}
.card-name{
  position: absolute;
  width: 12rem;
  color: aliceblue;
  text-align: center;
  background-color: #040D12;
  opacity: 75%;
  height: 10rem;
  transition: all .5s;
  font-size: 1rem;
  transform: translateY(95%);
}
.card-name:hover{
  transform: translateY(70%);
}



/*
home page
*/
.home-page{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-bg{
  width: 100%;
  position: fixed;
  z-index: -1;
}
.home-title{
  padding: 7rem 1rem 7rem 1rem;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 4rem; 
  color: aliceblue;
}
.order-btn{
  background-color: #040D12;
  color: aliceblue;
  border: transparent;
  position: relative;
  border-radius: 0px 10px 0px 10px;
  text-align: center;
  width: 8rem;
  height: 3rem;
  font-size: 20px;
  transition: .5s;
  opacity: 85%;
  cursor: pointer;
}
.order-btn:hover{
  background-color: darkslategray;
  opacity: 100%;
  width: 10rem;
}
.home-card{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin-top: 9rem;
  background-color: #040D12;
}
.card-box{
  transform: translateY(-30%);
  background-color: aliceblue;
  width: 14rem;
  height: 14rem;
  flex-direction: column;
  text-align: center;
  padding: 3rem 1rem 1rem 1rem;
  border-radius: 10px;
}

@media only screen and (max-width: 375px) {
  .home-bg, .menu-bg{
    height: 300px;
  }
  .home-title{
    margin-top: 65px;
    padding: 0;
  }
  .home-card{
    margin: 0;
    align-items: center;
    padding-top: 90px;
    flex-direction: column;
  }
  .menu-container span{
    height: 8rem;
  }
  .card-list{
    flex-direction: column;
  }
  .card{
    height: 7rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .card img{
    position: absolute;
    width: 7rem;
  }
  .card-name{
    transform: translateY(0rem);
    opacity: 10%;
    align-items: center;
  }
  .card-name:hover{
    transform: translateY(0);
    opacity: 80%;
  }
}